.label {
    -fx-font: 10pt "Verdana";
    -fx-padding: 5px;
    -fx-text-fill: black;
}
.gridPane{
    -fx-vgap: 5;
    -fx-hgap: 5;
    -fx-alignment: center;
    -fx-min-width: 400;
    -fx-min-height: 200;
}